* {
  margin: 0;
  padding: 0; }

img {
  width: 100%;
  object-fit: cover; }

img {
  width: 100%;
  object-fit: cover; }

.before-top {
  width: calc(100% - 30px);
  background: #e5e5e5;
  height: 1px;
  position: absolute;
  top: 0;
  left: 15px;
  content: ""; }

.title-news-link {
  color: inherit;
  font-weight: bold; }

.title-news-link:hover {
  text-decoration: none;
  color: #087cce; }

.content-news-link {
  color: inherit;
  font-size: 14px; }

.content-news-link:hover {
  text-decoration: none;
  color: inherit; }

img {
  width: 100%;
  object-fit: cover; }

.before-top {
  width: calc(100% - 30px);
  background: #e5e5e5;
  height: 1px;
  position: absolute;
  top: 0;
  left: 15px;
  content: ""; }

.title-news-link {
  color: inherit;
  font-weight: bold; }

.title-news-link:hover {
  text-decoration: none;
  color: #087cce; }

.content-news-link {
  color: inherit;
  font-size: 14px; }

.content-news-link:hover {
  text-decoration: none;
  color: inherit; }

.border-left {
  border-left: 1px solid #E5E5E5;
  padding-left: 15px;
  margin-left: -15px; }

.btn-control {
  height: 32px;
  line-height: 30px;
  padding: 0 10px;
  margin: 0 8px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  font-size: 14px;
  color: #757575;
  display: inline-block;
  text-decoration: none; }

.page-header {
  background-color: #ffff; }
  .page-header .header-top {
    justify-content: center;
    display: flex;
    width: 100%;
    padding: aut0 15px;
    margin: 10px auto;
    position: relative; }
    .page-header .header-top .logo-area {
      align-self: center;
      display: flex;
      width: 550px; }
      .page-header .header-top .logo-area .today {
        font-size: 14px;
        line-height: 58px;
        margin-left: 20px;
        padding-left: 15px;
        opacity: 0.6; }
    .page-header .header-top .controls-area {
      display: flex;
      align-self: center; }
      .page-header .header-top .controls-area .btn-control {
        height: 32px;
        line-height: 30px;
        padding: 0 10px;
        margin: 0 8px;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        font-size: 14px;
        color: #757575;
        display: inline-block;
        text-decoration: none; }
        .page-header .header-top .controls-area .btn-control i {
          margin-right: 5px; }
      .page-header .header-top .controls-area .btn-control:hover {
        color: #4f4f4f;
        background: #f7f7f7; }
      .page-header .header-top .controls-area .btn-search {
        display: flex;
        height: 32px;
        line-height: 32px;
        border-radius: 16px;
        border: 1px solid #e5e5e5;
        padding: 0 30px 0 14px;
        margin: 0 0 0 36px; }
        .page-header .header-top .controls-area .btn-search button {
          background-color: #ffff;
          border: 0; }
        .page-header .header-top .controls-area .btn-search input {
          width: 80px;
          border: 0; }
      .page-header .header-top .controls-area a {
        padding: 0 5px; }
      .page-header .header-top .controls-area .login-button {
        display: flex;
        line-height: 32px;
        color: #4f4f4f;
        margin: 0 16px; }
        .page-header .header-top .controls-area .login-button i {
          color: silver;
          align-self: center; }
        .page-header .header-top .controls-area .login-button .user-name {
          margin: 0 8px;
          align-self: center; }
        .page-header .header-top .controls-area .login-button .user-name:hover {
          color: blue; }
  .page-header .navigation {
    height: 60px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5; }
    .page-header .navigation .parent {
      margin: 0 0 0 200px;
      display: flex;
      list-style-type: none;
      width: 100%;
      float: left;
      clear: both;
      font-size: 14px;
      overflow: hidden; }
      .page-header .navigation .parent .icon-home:hover {
        color: #b52759; }
      .page-header .navigation .parent .all-selector {
        opacity: 0.5; }
        .page-header .navigation .parent .all-selector i {
          margin-left: 4px; }
      .page-header .navigation .parent .all-selector:hover {
        color: #b52759; }
      .page-header .navigation .parent li {
        font-weight: bold;
        margin: 0 8px;
        white-space: nowrap;
        padding: 16.5px 0;
        color: inherit;
        line-height: 24px; }
        .page-header .navigation .parent li a {
          color: #4F4F4F;
          font-size: 15px; }
        .page-header .navigation .parent li .nav-item:hover {
          color: blue;
          text-decoration: none; }

.content {
  margin-top: 200px; }
  .content .description .location-stamp {
    font-size: 14px;
    color: #757575; }
  .content .description a {
    text-decoration: none;
    color: inherit; }
  .content .top-news-top {
    background: #efeeee; }
    .content .top-news-top .top-new-desc {
      margin-top: 16px; }
  .content .meta-news {
    font-size: 14px;
    color: #757575; }
  .content .sub-hot-news {
    margin-top: 20px; }
    .content .sub-hot-news .item-gocnhin {
      border: 1px black; }
      .content .sub-hot-news .item-gocnhin .title {
        color: #9f224e;
        font-weight: bold;
        padding-bottom: -16px; }
      .content .sub-hot-news .item-gocnhin .content-gocnhin {
        margin-top: -16px; }
  .content .author-img img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 70px;
    background: #f7f7f7; }
  .content .quick-news .news-item {
    margin-top: 16px; }
  .content .quick-news .img-quick-news {
    margin: 18px 0; }

.page-footer {
  border-top: 5px solid #E5E5E5;
  padding: 20px 0;
  margin-top: 15px; }
  .page-footer .top-footer {
    position: relative;
    display: flex; }
    .page-footer .top-footer .list-menu-footer {
      list-style-type: none;
      width: 170px; }
      .page-footer .top-footer .list-menu-footer .item-menu {
        text-align: -webkit-match-parent;
        margin-bottom: 15px; }
        .page-footer .top-footer .list-menu-footer .item-menu a {
          color: inherit; }
      .page-footer .top-footer .list-menu-footer .boder-top {
        border-top: 1px solid #E5E5E5;
        padding-top: 15px; }
    .page-footer .top-footer .bold-menu-footer {
      font-weight: bold; }
    .page-footer .top-footer .wrap-contact .download p {
      font-size: 14px;
      color: #757575; }
    .page-footer .top-footer .wrap-contact .sub-content-contact {
      margin: 8px 0; }

.icon {
  width: 24px;
  height: 24px; }

.icon-home {
  width: 20px;
  height: 20px; }

/*# sourceMappingURL=main.css.map */
